<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RovesUGV | Web Teleop</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/js/libs/bootstrap.bundle.js" type="text/javascript"></script>
    <script src="/static/js/libs/jquery-4.0.0.min.js.js" type="text/javascript"></script>
    <script src="/static/js/libs/leaflet.js" type="text/javascript"></script>
    <script src="/static/js/libs/leaflet.geometryutil.js" type="text/javascript"></script>
    <script src="/static/js/libs/leaflet-arrowheads.js" type="text/javascript"></script>
    <script src="/static/js/libs/socket.io.min.js.js"></script>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" >
                <span style="color: crimson;" id="sioConnColor">
                    <i class="fas fa-link-slash" id="sioConnIcon"></i>
                </span> Web Teleop
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topnav">
                <ul class="navbar-nav">
                    <!--Language selection-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-language"></i> Language
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?lang=en"><img src="/static/img/gb.svg" style="height: 10px;"> English</a></li>
                            <li><a class="dropdown-item" href="?lang=fi"><img src="/static/img/fi.svg" style="height: 10px;"> Suomi</a></li>
                        </ul>
                    </li>
                    <!--Theme selection-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-palette"></i> Theme
                        </a>
                        <ul class="dropdown-menu">
                            <button class="dropdown-item btn btn-primary" onclick="setTheme('dark')"><i class="fas fa-moon"></i> {% block themeDark %}{% endblock %}</button>
                            <button class="dropdown-item btn btn-primary" onclick="setTheme('light')"><i class="fas fa-sun"></i> {% block themeLigth %}{% endblock %}</button>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" data-bs-theme="light">
        <div class="row mt-3">
            
            <!--Location information-->
            <div class="col-sm mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-location-dot"></i> {% block locationTitle %}{% endblock %}
                        </h5>
                        <table class="table">
                            <hr>
                            <tbody>
                                <tr>
                                    <th scope="row">{% block locationLat %}{% endblock %}</th>
                                    <td><span id="locationLat"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block locationLon %}{% endblock %}</th>
                                    <td><span id="locationLon"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block locationAlt %}{% endblock %}</th>
                                    <td><span id="locationAlt"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="button" onclick="setMapView()">{% block locationButton %}{% endblock %}</button>
                    </div>
                </div>
            </div>
            
            <!--Battery status-->
            <div class="col-sm mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-car-battery"></i> {% block batteryTitle %}{% endblock %}
                        </h5>
                        <table class="table">
                            <hr>
                            <tbody>
                                <tr>
                                    <th scope="row">{% block batteryCharge %}{% endblock %} [Ah]</th>
                                    <td><span id="batteryCharge"></span>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block batteryPct %}{% endblock %}</th>
                                    <td><span id="batteryPercentage"></span>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block batteryVoltage %}{% endblock %} [V]</th>
                                    <td><span id="batteryVoltage"></span>0</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="button" disabled>{% block batteryButton %}{% endblock %}</button>
                    </div>
                </div>
            </div>
            
            <!--Manual control-->
            <div class="col-sm mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-keyboard"></i> {% block controlTitle %}{% endblock %}
                        </h5>
                        <hr>
                        <div>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('forwardLeft')">
                                <i class="fas fa-arrow-turn-up fa-rotate-270"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('forward')">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('forwardRight')">
                                <i class="fas fa-arrow-turn-down fa-rotate-270"></i>
                            </button>
                        </div>
                        <div class="mt-2 mb-2">
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('rotateLeft')">
                                <i class="fas fa-arrow-rotate-left"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('stop')">
                                <i class="fas fa-x"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('rotateRight')">
                                <i class="fas fa-arrow-rotate-right"></i>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('backwardLeft')">
                                <i class="fas fa-arrow-turn-down fa-rotate-90"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('backward')">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" onclick="driveRobot('backwardRight')">
                                <i class="fas fa-arrow-turn-up fa-rotate-90"></i>
                            </button>
                        </div>
                        <div class="form-check form-switch mt-2">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchManualControl">
                            <label class="form-check-label" for="switchManualControl">{% block controlSwitch %}{% endblock %}</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <!--Map-->
            <div class="col-sm-7 mb-3">
                <div id="map"></div>
            </div>

            <div class="col-sm-5 mb-3">

                <!--Navigation status, control, and feedback-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-location-arrow"></i> {% block navTitle %}{% endblock %}
                        </h5>
                        <table class="table">
                            <hr>
                            <tbody>
                                <tr>
                                    <th scope="row">{% block navStatus %}{% endblock %}</th>
                                    <td><span id="navStatus"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navTimeRem %}{% endblock %} [s]</th>
                                    <td><span id="navTimeRem"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navDistRem %}{% endblock %} [m]</th>
                                    <td><span id="navDistRem"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navNavTime %}{% endblock %} [s]</th>
                                    <td><span id="navNavTime"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navNumRecs %}{% endblock %}</th>
                                    <td><span id="navNumRecs"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mb-3">
                            <div class="col-auto">
                                <label for="inputNavTarget" class="col-form-label"><b>{% block navTarget %}{% endblock %}</b></label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select" onmousedown="this.value='';" onchange="setNavGoal(this.value);" id="inputNavTarget">
                                    <option value="mapClick">{% block navTarget1 %}{% endblock %}</option>
                                    <option value="autoLab">{% block navTarget2 %}{% endblock %}</option>
                                    <option value="mnfgLab">{% block navTarget3 %}{% endblock %}</option>
                                    <option value="roboLab">{% block navTarget4 %}{% endblock %}</option>
                                    <option value="robo2auto">Robo -> Auto Lab</option>
                                    <option value="auto2robo">Auto -> Robo Lab</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-success" type="button" onclick="navStart();" id="navStart">{% block navStartButton %}{% endblock %}</button>
                        <button class="btn btn-danger" type="button" onclick="navCancel();">{% block navStopButton %}{% endblock %}</button>
                    </div>
                </div>
                
                <!--Environment: simulation or real robot-->
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-gear"></i> {% block environment %}{% endblock %}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="systemOption" id="radioEnvSimu" checked>
                            <label class="form-check-label" for="radioEnvSimu">
                                {% block envSimulation %}{% endblock %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="systemOption" id="radioEnvRobo">
                            <label class="form-check-label" for="radioEnvRobo">
                                Panther
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/static/js/webinterface.js" type="text/javascript"></script>
</body>
</html>