<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RovesUGV | Web Teleop</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/js/libs/bootstrap.bundle.js" type="text/javascript"></script>
    <script src="/static/js/libs/jquery-4.0.0.min.js.js" type="text/javascript"></script>
    <script src="/static/js/libs/leaflet.js" type="text/javascript"></script>
    <script src="/static/js/libs/leaflet.geometryutil.js" type="text/javascript"></script>
    <script src="/static/js/libs/leaflet-arrowheads.js" type="text/javascript"></script>
    <script src="/static/js/libs/socket.io.min.js.js"></script>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-light sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="btn btn-danger btn-lg" type="button" data-bs-toggle="button" id="eStopButton" onclick="e_stop()">E-STOP</button>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link" id="connStatus">
                        <i class="fas fa-link-slash" id="connIcon"></i> {% block connection %}{% endblock %}
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topnav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if use_sim %}
                            <a class="nav-link active" href="">
                                <i class="fas fa-display"></i> {% block envSimulation %}{% endblock %}
                            </a>
                        {% else %}
                            <a class="nav-link active" href="">
                                <i class="fas fa-robot"></i> Panther
                            </a>
                        {% endif %}
                    </li>
                    <!--Language selection-->
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-language"></i> {% block language %}{% endblock %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?lang=en"><img src="/static/img/gb.svg" style="height: 10px;"> English</a></li>
                            <li><a class="dropdown-item" href="?lang=fi"><img src="/static/img/fi.svg" style="height: 10px;"> Suomi</a></li>
                        </ul>
                    </li>
                    <!--Theme selection-->
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-palette"></i> {% block theme %}{% endblock %}
                        </a>
                        <ul class="dropdown-menu">
                            <button class="dropdown-item btn btn-primary" onclick="setTheme('dark')">
                                <i class="fas fa-moon"></i> {% block themeDark %}{% endblock %}
                            </button>
                            <button class="dropdown-item btn btn-primary" onclick="setTheme('light')">
                                <i class="fas fa-sun"></i> {% block themeLight %}{% endblock %}
                            </button>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div id="alertPlaceholder"></div>
        <div class="row">
            <div class="col-sm-4 mb-3">
                <!--Navigation-->
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-location-arrow"></i> {% block navTitle %}{% endblock %}
                        </h5>
                        <hr>
                        <h6 class="card-subtitle mb-2">{% block navSubtitleTarget %}{% endblock %}</h6>
                        <div class="mb-3">
                            <select class="form-select" id="navSelect" onmousedown="this.value='';" onchange="setNavGoal(this.value);" >
                                <option value="mapPoint">{% block navTargetClickMap %}{% endblock %}</option>
                                <option value="maptLab">{% block navTargetMaptLab %}{% endblock %}</option>
                                <option value="roboLab">{% block navTargetRoboLab %}{% endblock %}</option>
                                <option value="auto2robo">Auto Lab >> Robo Lab</option>
                                <option value="robo2auto">Robo Lab >> Auto Lab</option>
                            </select>
                        </div>
                        <h6 class="card-subtitle mb-2">{% block navSubtitleYaw %}{% endblock %}</h6>
                        <div class="row">
                            <div class="col-9">
                                <input class="form-range" type="range" min="-180" max="180" step="5" value="0" id="yawInput">
                            </div>
                            <div class="col-3">
                                <i class="fas fa-circle-arrow-right fa-2xl fa-rotate-by" id="yawArrow" style="--fa-rotate-angle: 0deg"></i>
                                <output for="navYaw" id="yawOutput" aria-hidden="true"></output>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2">{% block navSubtitleControl %}{% endblock %}</h6>
                        <div class="text-center mb-3">
                            <button class="btn btn-danger" type="button" onclick="stopNav();">
                                <i class="fas fa-circle-xmark"></i> {% block navStopButton %}{% endblock %}
                            </button>
                            <button class="btn btn-warning" type="button" id="navResetBtn" onclick="resetNav();">
                                <i class="fas fa-arrow-rotate-left"></i> {% block navResetButton %}{% endblock %}
                            </button>
                            <button class="btn btn-success" type="button" id="navStartBtn" onclick="startNav();">
                                <i class="fas fa-play"></i> {% block navStartButton %}{% endblock %}
                            </button>
                        </div>
                        <h6 class="card-subtitle mb-2">{% block navSubtitleProgress %}{% endblock %}</h6>
                        <div class="text-center mb-3">
                            <div class="progress mt-2" role="progressbar" aria-label="navigation progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar text-bg-success" style="width: 0%">0%</div>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2">{% block navSubtitleFeedback %}{% endblock %}</h6>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">{% block navStatus %}{% endblock %}</th>
                                    <td><pre><span id="navStatus"></span>PENDING</pre></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navNavTime %}{% endblock %}</th>
                                    <td><span id="navNavTime"></span>0.0<span> s</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navTimeRem %}{% endblock %}</th>
                                    <td><span id="navTimeRem"></span>0.0<span> s</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navDistRem %}{% endblock %}</th>
                                    <td><span id="navDistRem"></span>0.0<span> m</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block navNumRecs %}{% endblock %}</th>
                                    <td><span id="navNumRecs"></span>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Map-->
            <div class="col-sm-8 mb-3">
                <div id="map" style="height: 610px;"></div>
            </div>
        </div>

        <div class="row">
            <!--Teleoperation-->
            <div class="col-sm-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">
                                    <i class="fas fa-gamepad"></i> {% block teleopTitle %}{% endblock %}
                                </h5>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch form-check-reverse">
                                    <input class="form-check-input" type="checkbox" role="switch" id="teleopSwitch">
                                    <label class="form-check-label" for="teleopSwitch" id="teleopStatus">OFF</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center mb-1">
                            <button class="btn btn-primary btn-lg" type="button" id="teleop1">
                                <i class="fas fa-arrow-turn-up fa-rotate-270"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" id="teleop2">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" id="teleop3">
                                <i class="fas fa-arrow-turn-down fa-rotate-270"></i>
                            </button>
                        </div>
                        <div  class="text-center mb-1">
                            <button class="btn btn-primary btn-lg" type="button" id="teleop4">
                                <i class="fas fa-arrow-rotate-left"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" id="teleop5">
                                <i class="fas fa-x"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" id="teleop6">
                                <i class="fas fa-arrow-rotate-right"></i>
                            </button>
                        </div>
                        <div class="text-center mb-3">
                            <button class="btn btn-primary btn-lg" type="button" id="teleop7">
                                <i class="fas fa-arrow-turn-down fa-rotate-90"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" id="teleop8">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                            <button class="btn btn-primary btn-lg" type="button" id="teleop9">
                                <i class="fas fa-arrow-turn-up fa-rotate-90"></i>
                            </button>
                        </div>
                        <h6 class="card-subtitle mb-2">{% block teleopSpeed %}{% endblock %}</h6>
                        <div class="input-group">
                            <button class="btn btn-danger" type="button" id="teleopSpeedBtnMinus" onclick="setRoverSpeed(-1);">
                                <i class="fas fa-circle-minus"></i>
                            </button>
                            <input type="text" class="form-control text-center" placeholder="0.5" aria-label="rover speed" id="teleopSpeed">
                            <button class="btn btn-success" type="button" id="teleopSpeedBtnPlus" onclick="setRoverSpeed(1);">
                                <i class="fas fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Location information-->
            <div class="col-sm-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-location-dot"></i> {% block locationTitle %}{% endblock %}
                        </h5>
                        <hr>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">{% block locationLat %}{% endblock %}</th>
                                    <td><span id="locationLat">0.000000000</span><span>°</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block locationLon %}{% endblock %}</th>
                                    <td><span id="locationLon">0.000000000</span><span>°</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">{% block locationAlt %}{% endblock %}</th>
                                    <td><span id="locationAlt">0.0</span><span> m</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="button" onclick="setMapView()">{% block locationButton %}{% endblock %}</button>
                    </div>
                </div>
            </div>
            
            <!--Telemetry-->
            <div class="col-sm-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-magnifying-glass-chart"></i> {% block telemetryTitle %}{% endblock %}
                        </h5>
                        <hr>
                        <h6 class="card-subtitle mb-2">{% block telemetrySubtitleBattery %}{% endblock %}</h6>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fas fa-battery-empty" id="batteryPctIcon"></i> <span id="batteryPct">0.0</span><span> %</span>
                                    </td>
                                    <td>
                                        <i class="fas fa-bolt"></i><span id="batteryCharge">0.0</span><span>/</span>0.0<span id="batteryCapacity"></span><span> Ah</span>
                                    </td>
                                    <td>
                                        <i class="fas fa-temperature-full"></i><span id="batteryTemp">0.0</span><span> °C</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <footer class="text-center">
            <p>Icons by Fontawesome</p>
            <a href="https://fontawesome.com/icons/link?f=classic&s=solid">link</a>
            <a href="https://fontawesome.com/icons/link-slash?f=classic&s=solidlink-slash">link-slash</a>
            <a href="https://fontawesome.com/icons/language?f=classic&s=solid">language</a>
            <a href="https://fontawesome.com/icons/palette?f=classic&s=solid">palette</a>
            <a href="https://fontawesome.com/icons/location-arrow?f=classic&s=solid">location-arrow</a>
            <a href="https://fontawesome.com/icons/gamepad?f=classic&s=solid">gamepad</a>
            <a href="https://fontawesome.com/icons/location-dot?f=classic&s=solid">location-dot</a>
            <a href="https://fontawesome.com/icons/car-battery?f=classic&s=solid">car-battery</a>
        </footer>
    </div>



    <script src="/static/js/scripts.js" type="text/javascript"></script>
</body>
</html>