{% extends "index.html" %}

{% block themeDark %}Dark{% endblock %}
{% block themeLigth %}Light{% endblock %}

{% block locationTitle %}Location{% endblock %}
{% block locationLat %}Latitude{% endblock %}
{% block locationLon %}Longitude{% endblock %}
{% block locationAlt %}Altitude{% endblock %}
{% block locationButton %}Show on map{% endblock %}

{% block batteryTitle %}Battery{% endblock %}
{% block batteryCharge %}Charge{% endblock %}
{% block batteryPct %}Percentage{% endblock %}
{% block batteryVoltage %}Voltage{% endblock %}
{% block batteryButton %}Go to Charging{% endblock %}

{% block controlTitle %}Manual Control{% endblock %}
{% block controlSwitch %}Enable{% endblock %}

{% block navTitle %}Navigation{% endblock %}
{% block navStatus %}Status{% endblock %}
{% block navTimeRem %}Time Remaining{% endblock %}
{% block navDistRem %}Distance Remaining{% endblock %}
{% block navNavTime %}Navigation Time{% endblock %}
{% block navNumRecs %}Number of Recoveries{% endblock %}
{% block navTarget %}Target or Route{% endblock %}
{% block navTarget1 %}Click on Map{% endblock %}
{% block navTarget2 %}Automotive Lab{% endblock %}
{% block navTarget3 %}Manufacturing Lab{% endblock %}
{% block navTarget4 %}Robotics Lab{% endblock %}
{% block navStartButton %}Start{% endblock %}
{% block navStopButton %}Stop{% endblock %}

{% block environment %}Environment {% endblock %}
{% block envSimulation %}Simulation{% endblock %}