{% extends "index.html" %}

{% block themeDark %}Tumma{% endblock %}
{% block themeLigth %}Vaalea{% endblock %}

{% block locationTitle %}Sijainti{% endblock %}
{% block locationLat %}Leveyspiiri{% endblock %}
{% block locationLon %}Pituuspiiri{% endblock %}
{% block locationAlt %}Korkeus{% endblock %}
{% block locationButton %}Näytä kartalla{% endblock %}

{% block batteryTitle %}Akku{% endblock %}
{% block batteryCharge %}Varaus{% endblock %}
{% block batteryPct %}Prosenttiosuus{% endblock %}
{% block batteryTemp %}Lämpötila{% endblock %}
{% block batteryButton %}Mene lataukseen{% endblock %}

{% block controlTitle %}Manuaalinen ohjaus{% endblock %}
{% block controlSwitch %}Ota käyttöön{% endblock %}

{% block navTitle %}Navigointi{% endblock %}
{% block navStatus %}Tila{% endblock %}
{% block navTimeRem %}Aikaa jäljellä{% endblock %}
{% block navDistRem %}Matkaa jäljellä{% endblock %}
{% block navNavTime %}Navigointiaika{% endblock %}
{% block navNumRecs %}Toipumiset{% endblock %}
{% block navTarget %}Kohde{% endblock %}
{% block navTarget1 %}Klikkaa karttaa{% endblock %}
{% block navTarget2 %}Autolabra{% endblock %}
{% block navTarget3 %}Tuotantotekniikan labra{% endblock %}
{% block navTarget4 %}Robotiikan labra{% endblock %}
{% block navStartButton %}Aloita{% endblock %}
{% block navCancelButton %}Keskeytä{% endblock %}

{% block targetSystem %}Kohdejärjestelmä{% endblock %}
{% block targetSimulation %}Simulaatio{% endblock %}